<footer class="bg-gray-50 border-t border-gray-200">
    <div class="max-w-6xl mx-auto px-6 py-12">
        <div class="grid md:grid-cols-2 gap-10 text-sm text-gray-600">
            <div>
                <h4 class="font-semibold text-gray-900 mb-3">จัดทำโดย</h4>
                <ul class="space-y-1 text-xs leading-relaxed">
                    <li>67070164 นายวัลชัย กล่ำม่วง</li>
                    <li>67070183 นายสาริน สุขสอน</li>
                    <li>67070196 นายอนาวิล ภู่รัตนากรกุล</li>
                    <li>67070252 นายเปรมณัช คเชนธร</li>
                    <li>67070259 นายพันแสน จันทร์เกษม</li>
                </ul>
            </div>
            <div class="grid md:grid-rows-2 gap-12">
                <div>
                    <h3 class="text-lg font-semibold text-gray-900 mb-3">Codingo</h3>
                    <p class="leading-relaxed">ระบบจัดการเรียนรู้ทักษะการเขียนโปรแกรมคอมพิวเตอร์สำหรับการศึกษาและพัฒนาตนเอง</p>
                </div>
                <div>
                    <p class="border-gray-200 text-xs text-gray-500">โครงงานรายวิชา 06066302 การเขียนโปรแกรมเว็บพื้นฐาน ภาคเรียนที่ 2 ปีการศึกษา 2568</p>
                    <p class="border-gray-200 text-xs text-gray-500">ขับเคลื่อนโดย Deadline 💀</p>
                </div>
            </div>
        </div>
    </div>
</footer>
