<!DOCTYPE html>
<html lang="th">
<head>
    <%- include('partials/head') %>
    <title>ต่อเนื่อง - Codingo</title>
</head>
<body class="bg-white pt-16">
    <%- include('partials/header') %>
    
    <%- include('partials/footer') %>
</body>
</html>
